<div class="container" style="min-width: 310px; min-height: 440px; margin: 0 auto;">
    
    <div class="row">
        
        <div class="col-lg-12">
            
            <div class="panel panel-default bootstrap-admin-no-table-panel">
                
                <div class="panel-heading">
                    <div class="text-muted bootstrap-admin-box-title">Change Password</div>
                </div>
                
                <div class="bootstrap-admin-no-table-panel-content bootstrap-admin-panel-content collapse in">
                    
                    <form action="<?php echo base_url(); ?>compose/send" method="post" class="form-horizontal" id="form_data">
                        
                        <fieldset>
                            <legend>Password</legend>
                            
                            <div class="alert alert-danger hide">
                                <a class="close" data-dismiss="alert" href="#">&times;</a>
                                <span id="alertMessage">&nbsp;</span>
                            </div>
							
							<div class="alert alert-success hide">
								<a class="close" data-dismiss="alert" href="#">&times;</a>
								<span id="successMessage">Password has been changed successfully.</span>
							</div>
                           
                            <div class="form-group">
                                <label class="col-lg-3 control-label" for="passwd">Current Password<span class="required"> *</span></label>
                                <div class="col-lg-9">
                                    <input class="form-control" id="passwd" name="passwd" type="password" maxlength="20">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-lg-3 control-label" for="newPasswd">New Password<span class="required"> *</span></label>
                                <div class="col-lg-9">
                                    <input class="form-control" id="newPasswd" name="newPasswd" type="password" maxlength="20">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-lg-3 control-label" for="retypeNewPasswd">Re-type New Password<span class="required"> *</span></label>
                                <div class="col-lg-9">
                                    <input class="form-control" id="retypeNewPasswd" name="retypeNewPasswd" type="password" maxlength="20">
                                </div>
                            </div>
							<div class="form-group">
                                <label class="col-lg-3 control-label">&nbsp;</label>
                                <div class="col-lg-9">
                                    <button type="submit" class="btn btn-primary"><i class='glyphicon glyphicon-ok'></i> Save &nbsp;</button>
									&nbsp;<img id="imgLoading" class="hide" src="<?php base_url(); ?>/images/loading24_blue.gif">
                                </div>
                            </div>
							
                        </fieldset>
						
						<input type="hidden" id="fileName" name="fileName" value="<?php echo $fileName; ?>">
                        
                    </form><!-- /form -->
                    
                </div><!-- /.bootstrap-admin-no-table-panel-content bootstrap-admin-panel-content collapse in -->
                
            </div><!-- /.panel panel-default bootstrap-admin-no-table-panel -->
            
        </div><!-- /.col-lg-12 -->
    
    </div><!-- /.row -->
    
</div>

<input type="hidden" id="actYear" value="<?php echo $actYear; ?>">
<input type="hidden" id="actMonth" value="<?php echo $actMonth; ?>">
<input type="hidden" id="storeCode" value="<?php echo $storeCode; ?>">
<input type="hidden" id="clusterCode" value="<?php echo $clusterCode; ?>">
<input type="hidden" id="regionalCode" value="<?php echo $regionalCode; ?>">
<input type="hidden" id="ytd" value="<?php echo $ytd; ?>">
    
<!-- put additional css here -->
<link rel="stylesheet" media="screen" href="<?php echo base_url(); ?>css/xpense.css">

<!-- put additional js here -->
<script type="text/javascript" src="<?php echo base_url(); ?>vendors/jquery-validation/dist/jquery.validate.min.js"></script>
<script type="text/javascript" src="<?php echo base_url(); ?>js/chpass.validation.js"></script>
<script type="text/javascript" src="<?php echo base_url(); ?>js/chpass.js"></script>